<p>
  <a routerLink="/admin/products/new" class="btn btn-primary">Dodaj nowy produkt</a>
</p>
<p>
  <input #query (keyup)="filter(query.value)" type="text" class="form-control" placeholder="Szukaj...">
</p>

<data-table
    [items]="items"
    [itemCount]="itemCount"
    (reload)="reloadItems($event)">
    <data-table-column
        [property]="'item'"
        [header]="'Nazwa produktu'"
        [sortable]="true"
        [resizable]="true">
        <ng-template #dataTableCell let-item="item">
            {{ item.title }}
        </ng-template>
    </data-table-column>
    <data-table-column
        [property]="'item'"
        [header]="'Cena'"
        [sortable]="true"
        [resizable]="true">
        <ng-template #dataTableCell let-item="item">
            {{ item.price | currency:'PLN':'symbol'}}
        </ng-template>
    </data-table-column>
    <data-table-column
        [property]="'key'">
        <ng-template #dataTableCell let-item="item">
            <a [routerLink]="['/admin/products/', item.key]">Edytuj produkt</a>
        </ng-template>
    </data-table-column>
</data-table>
