<div *ngIf="product.title" class="card" style="width: 18rem; height: 30rem;">
  <img class="card-img-top" *ngIf="product.imageUrl" [src]="product.imageUrl" [alt]="product.title">
  <div class="card-body">
    <h4 class="card-title">{{ product.title }}</h4>
    <p class="card-text">{{ product.price | currency:'PLN':'symbol' }}</p>
  </div>
  <div *ngIf="showActions" class="card-footer">
    <button 
      (click)="addToCart(product)"
      class="btn btn-primary btn-block">Dodaj do koszyka</button>
    <div>{{ getQuantity() }}</div>
  </div>
</div>
